/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Open Sauce One';
  src: url(assets/fonts/OpenSauceOne-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sauce One';
  src: url(assets/fonts/OpenSauceOne-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sauce One';
}
